* {
    margin: 0;
    padding: 0;
    text-align: center;
}
h1 {
    background-color: #081b31;
    color: white;
    height: 4rem;
    line-height: 4rem;
}
.icon{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    height: 160px;
    width: 160px;
    object-fit: cover;
    border-radius: 50%;
}
.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}
.icon:hover {
    cursor: crosshair;
    background-color: black;
}
.scores{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
    margin-top: 2rem;
}
#uc, #cc {
    font-size: 4rem;
}
.result {
    margin-top: 5rem;
}
#res {
    font-size: 2rem;
    background-color: #081b31;
    color: white;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

